<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Senior Consultant at
      <a class="underline-link" href="https://www.saama.com/" target="_blank">Saama</a> building NLP products with some awesome people. I am also a Mentor at
      <a class="underline-link" href="https://www.springboard.com" target="_blank">Springboard</a>, helping future Machine learning engineers and Data scientists in the weekends.
    </p>

    <!-- <p>
      I enjoy building machine learning products from ground up and I love to be involved in  
    </p> -->

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing badminton, photographing,
      or reading a book.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
