<div class="container mx-auto clearfix mt-2 mt-lg-4 px-2">
  <div class="border-top-thick">
    <p class="col-8 sm-width-full left py-2 mb-0"> Theme credits: <a class="text-accent" href="https://github.com/broccolini/athena">broccolini</a></p>
    <ul class="list-reset right clearfix sm-width-full py-2 mb-2 mb-lg-0">
      <li class="inline-block mr-1">
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
          <img src="https://img.shields.io/badge/-LinkedIn-0077B5?style=flat-square&logo=linkedin&logoColor=white" alt="LinkedIn Profile">
        </a>
      </li>
      
      <li class="inline-block mr-1">
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <img src="https://img.shields.io/badge/-Twitter-1DA1F2?style=flat-square&logo=twitter&logoColor=white" alt="Twitter Profile">
        </a>
      </li>
    </ul>
  </div>
</div>
